<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="flightApp">

    <head>
        <title>Insurance</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="favicon.ico">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/bootstrap-select.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="js/bootstrap-select.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

        <style>
            .textAlignRight {
                display: inline-block;
                width: 240px;
                text-align: right;
            }

            .panel-default > .panel-heading-custom {
                background-image: none;
                background-color: #553f44;
                color: #ffffff;
            }

            .panel-default > .panel-heading-custom2 {
                background-image: none;
                background-color: #553f44;
                color: #ffffff;
            }

            .panel-default > .panel-heading-custom3 {
                background-image: none;
                background-color: #f07c4a;
                color: #ffffff;
            }

            bg {
                max-width: 500px;
                height: 100px;
                background-color: powderblue;
            }

            h5 {
                font-weight: bold;
                font-size: 16px;
            }

            .button {
                background-color: black; /* Green */
                border: none;
                color: whitesmoke;
                padding: 16px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                cursor: pointer;
            }

            .button1 {
                border-radius: 12px;
            }

            .button1:hover {
                background-color: #e7e7e7;
                color : black;
            }

            body {
                background-image: url("http://static.prsa.pl/images/33d77e6e-68cc-436a-8855-7b96a355e6c4.jpg");
            }

            hm {
                font-weight: bold;
                font-size: 16px;
            }
            ul>li a:hover {
                background-color: gray;
            }a{
                color: white;
            }

        </style>
    </head>

    <body>
        <div class="row">
            <h1></h1>
        </div>
        <div  ng-controller="getTravelInsurance" >
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="panel panel-default">


                            <div class="panel-heading panel-heading-custom">
                                <h1  class="panel-title"><span class="glyphicon glyphicon-plane"></span> Travel Insurance</h1>
                            </div>
                            <div style="height:auto" class="panel-body">
                                <div class="row">
                                    <div style="height:auto" class="panel-body">
                                        <table class="table">
                                            <tbody>

                                            <div class="row">
                                                <div class="col-sm-1"><img src="http://www.mywatsoninsurance.com/wp-content/uploads/2014/04/happyfamily.jpg" width="300" height="200" alt="Klematis"></div>
                                                <div class="col-sm-4"></div>
                                                <div class="col-md-7">
                                                    <br>
                                                    <p><span class="glyphicon glyphicon-ok"></span> Flight Cancellation/delay benefit</p>
                                                    <p><span class="glyphicon glyphicon-ok"></span> Loss or Damage to Baggage and Personal Effects Benefits</p>
                                                    <p><span class="glyphicon glyphicon-ok"></span> 24- hour Worldwide Travel Assistance Services</p>
                                                    <p><span class="glyphicon glyphicon-ok"></span> Personal Accident benefit</p>
                                                </div>
                                            </div>
                                            <br>  
                                            <label>The following guest(s) are eligible for travel insurance  99.00 THB</label><br>                    
                                            <form action="">
                                                <input ng-click="submit()" ng-model="travelInsurance" type="radio" name="insurance" value="choiceYes"> Yes, I want to purchase Travel Insurance for all eligible persons.<br>
                                                <input type="radio" ng-model="hide" name="insurance" value="ChoiceNo"> No thanks, I would like to proceed without Travel Insurance.
                                            </form>


                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!--start col3-->
                            
                <!--end row-->
                            
                            <div class="container-fluid">
                                <div class="panel panel-default">
                                    <div class="panel-heading">Special Services</div>
                                    <div class="panel-body">

                                        <form>
                                            Check Type of Insurance:<br>
                                            <input type="checkbox" ng-model="HealthInsurance">ประกันสุขภาพ ราคา 20 <br>
                                            <input type="checkbox" ng-model="BaggageInsurance">ประกันกระเป๋าเดินทาง ราคา 10<br>
                                            <button ng-click="submitSelectedInsurance(HealthInsurance, BaggageInsurance)">
                                                OK
                                            </button>
                                        </form>


                                    </div>


                                </div>
                            </div>

                            
                            
                            <!--col3-->
                            <div class="row">
                                <div class="col-md-8"></div>
                                <div class="col-md-4">
                                </div>
                                <div class="row">
                                    <div class="col-sm-4"></div>
                                    <div class="col-sm-2">
                                        <button onclick="myFunction1()" class="button button1"><span class="  glyphicon glyphicon-chevron-left" aria-hidden="true"></span><a href="#/"> BACK</a></button>
                                    </div>
                                    <div class="col-sm-2">
                                        <button ng-click="submit()" class="button button1"><a href="#Notification"> NEXT</a> <span class="  glyphicon glyphicon-chevron-right" aria-hidden="true"></span></button>
                                    </div>
                                </div>
                            </div>
                        </div>   
                    </div>
                    <!--end controller-->  
                    
                    <div  class="col-md-3" >
                                <section class="panel panel-default">

                                    <header class="panel-heading panel-heading-custom2">
                                        <h1 class="panel-title" >Payment Information</h1>
                                    </header>

                                    <ul class="list-group ">
                                        <li class="list-group-item">
                                            <div class="row">
                                                <div class="col-sm-1"><span class="glyphicon glyphicon-chevron-right img-rounded" id="chovenIcon"></span></div>
                                                <div class="col-sm-6">
                                                    <label>Price: </label>
                                                </div>

                                                <div class="col-sm-2">
                                                    <label >{{filght_price}}</label>
                                                </div>
                                                <div class="col-sm-1" id="pText"> <span class=" glyphicon glyphicon-euro glyphicon " aria-hidden="true"></div>
                                            </div>
                                        </li>
                                        <li class="list-group-item"><div class="row">
                                                <div class="col-sm-1"><span class="glyphicon glyphicon-chevron-right " id="chovenIcon"></span></div>
                                                <div class="col-sm-6">
                                                    <label>Tax: </label>
                                                </div>
                                                <div class="col-sm-2">
                                                    <label >{{(filght_price + insurancePrice.insurance1) * 5 / 100}}</label>
                                                </div>
                                                <div class="col-sm-1" id="pText"> <span class=" glyphicon glyphicon-euro glyphicon " aria-hidden="true"></div>
                                            </div>
                                        </li>       
                                        <li ng-hide="hide"  class="list-group-item">
                                            <div class="row">
                                                <div class="col-sm-1"><span ng-click="donotBuy()" class="glyphicon glyphicon-chevron-right" id="chovenIcon"></span></div>
                                                <div class="col-sm-6">
                                                    <label>Insurance: </label>
                                                </div>
                                                <div class="col-sm-2">
                                                    <label >{{insurancePrice.insurance1}}</label>

                                                </div>

                                                <div class="col-sm-1" id="pText"> <span class=" glyphicon glyphicon-euro glyphicon " aria-hidden="true"></div>

                                            </div>
                                            <div ng-show="show" class="list-group-item">
                                                <div class="row">

                                                    <div class="col-sm-5"><label id="lTotal">Total Cash: </label></div>
                                                    <div class="col-sm-1"></div>
                                                    <div class="col-sm-2">
                                                        <label id="pText">12034</label>
                                                    </div>
                                                    <div class="col-sm-1" id="pText"> <span class=" glyphicon glyphicon-euro glyphicon " aria-hidden="true"></div>
                                                </div>
                                            </div>
                                        </li>   

                                        <div ng-repeat="price in priceItems" ng-model="price">
                                            <a data-toggle="collapse" href="#{{price.name}}">
                                                <span class="glyphicon glyphicon-plus-sign"></span>  {{price.name}} {{price.value}}</a>
                                            <div id={{price.name}} class="collapse">
                                                <form>
                                                    Check Type of services:<br>
                                                    <input type="checkbox" ng-model="HealthInsurance"> ประกันสุขภาพ ราคา 20 <br>
                                                    <input type="checkbox" ng-model="BaggageInsurance"> ประกันกระเป๋าเดินทาง ราคา 10<br>
                                                    <button ng-click="submitSelectedInsurance(HealthInsurance, BaggageInsurance)">
                                                        OK
                                                    </button>
                                                </form>
                                            </div>

                                        </div>


                                        <li class="list-group-item">
                                            <div class="row">

                                                <div class="col-sm-6"><label id="lTotal">Total Cash: </label></div>
                                                <div class="col-sm-1"></div>
                                                <div class="col-sm-2">
                                                    <label id="pText">12034</label>
                                                </div>
                                                <div class="col-sm-1" id="pText"> <span class=" glyphicon glyphicon-euro glyphicon " aria-hidden="true"></div>
                                            </div>
                                        </li>
                                </section> 

                            </div>
                </div>
                
     
                <script src="js/flightController.js"></script>
                </body>

                </html>
